In [19]:
import os

os.chdir(r'C:\Users\carlo\GitHub\ProjectBuffalo')

In [20]:
import buffalo.ingestion as ingestion

In [21]:
ingestion.configuration.Configuration.print()

{'storage_folder': '../__cached_data', 'api_keys': {<API.ADVANTAGE: 1>: '2rrNROO0beX90lPH7ixQOp0mT_9SwF0d'}, 'watched_tickers': ['IBM', 'MSFT']}

In [22]:
advantage_endpoint = ingestion.advantage.AdvantageStockGrepper()

In [23]:
advantage_endpoint.company_info_download(
    'CASH_FLOW',
    'IBM',
    '3month'
)

,symbol,annualReports,quarterlyReports
0,IBM,"[{'fiscalDateEnding': '2022-12-31', 'reportedC...","[{'fiscalDateEnding': '2022-12-31', 'reportedC..."

In [24]:
advantage_endpoint.stock_download(
    symbol='AAPL',
    interval='daily',
    year_slice=None, ## Intraday 
    adjusted=True
)

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2023-03-02,144.38,146.7100,143.9000,145.91,145.910000,52279761,0.0,1.0
1,2023-03-01,146.83,147.2285,145.0100,145.31,145.310000,55478991,0.0,1.0
2,2023-02-28,147.05,149.0800,146.8300,147.41,147.410000,50546998,0.0,1.0
3,2023-02-27,147.71,149.1700,147.4500,147.92,147.920000,44998470,0.0,1.0
4,2023-02-24,147.11,147.1900,145.7202,146.71,146.710000,55469606,0.0,1.0
...,...,...,...,...,...,...,...,...,...
5866,1999-11-05,84.62,88.3700,84.0000,88.31,0.670165,3721500,0.0,1.0
5867,1999-11-04,82.06,85.3700,80.6200,83.62,0.634574,3384700,0.0,1.0
5868,1999-11-03,81.62,83.2500,81.0000,81.50,0.618485,2932700,0.0,1.0
5869,1999-11-02,78.00,81.6900,77.3100,80.25,0.608999,3564600,0.0,1.0
5870,1999-11-01,80.00,80.6900,77.3700,77.62,0.589041,2487300,0.0,1.0

In [25]:
advantage_endpoint.listing_info_download(date='2022-02-24')

,symbol,name,exchange,assetType,ipoDate,delistingDate,status
0,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,NaN,Active
1,AA,Alcoa Corp,NYSE,Stock,2016-10-18,NaN,Active
2,AAA,AXS FIRST PRIORITY CLO BOND ETF,NYSE ARCA,ETF,2020-09-09,NaN,Active
3,AAAU,Goldman Sachs Physical Gold ETF,BATS,ETF,2018-08-15,NaN,Active
4,AAC,Ares Acquisition Corporation - Class A,NYSE,Stock,2021-03-25,NaN,Active
...,...,...,...,...,...,...,...
12041,ZYNE,Zynerba Pharmaceuticals Inc,NASDAQ,Stock,2015-08-05,NaN,Active
12042,ZYRX,Global Earnings Capital Ltd,NASDAQ,Stock,2007-07-13,NaN,Active
12043,ZYXI,Zynex Inc,NASDAQ,Stock,2012-07-23,NaN,Active
12044,ZZK,NaN,NYSE ARCA,Stock,2020-07-22,NaN,Active
12045,ZZZ,TEST TICKER FOR UTP,NYSE ARCA,Stock,2014-10-31,NaN,Active

In [26]:
advantage_endpoint.trend_indicator_download(
    function='SMA',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
)

                  time       SMA
0     2023-03-02 18:17  128.9158
1     2023-03-02 17:50  128.9028
2     2023-03-02 16:03  128.8995
3     2023-03-02 16:02  128.8885
4     2023-03-02 16:01  128.8800
...                ...       ...
3662  2023-02-17 08:24  134.3370
3663  2023-02-17 07:11  134.2770
3664  2023-02-17 07:02  134.2510
3665  2023-02-17 05:55  134.2230
3666  2023-02-17 05:30  134.1940

[3667 rows x 2 columns]

In [27]:
advantage_endpoint.trend_indicator_download(
    function='T3',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
)

                  time        T3
0     2023-03-02 18:17  128.8883
1     2023-03-02 17:50  128.8881
2     2023-03-02 16:03  128.8887
3     2023-03-02 16:02  128.8887
4     2023-03-02 16:01  128.8912
...                ...       ...
3617  2023-02-17 10:14  134.8565
3618  2023-02-17 10:13  134.8260
3619  2023-02-17 10:12  134.7963
3620  2023-02-17 10:11  134.7666
3621  2023-02-17 10:10  134.7335

[3622 rows x 2 columns]

In [31]:
advantage_endpoint.econ_download(
    function='FEDERAL_FUNDS_RATE',
    interval='daily'
)

        timestamp  value
0      2023-03-01   4.58
1      2023-02-28   4.57
2      2023-02-27   4.57
3      2023-02-26   4.58
4      2023-02-25   4.58
...           ...    ...
25076  1954-07-05   0.88
25077  1954-07-04   1.25
25078  1954-07-03   1.25
25079  1954-07-02   1.25
25080  1954-07-01   1.13

[25081 rows x 2 columns]

In [34]:
advantage_endpoint.econ_download(
    function='TREASURY_YIELD',
    interval='daily',
    maturity='3month'
)

        timestamp  value
0      2023-03-01   4.90
1      2023-02-28   4.88
2      2023-02-27   4.89
3      2023-02-24   4.86
4      2023-02-23   4.84
...           ...    ...
10822  1981-09-07      .
10823  1981-09-04  16.64
10824  1981-09-03  16.96
10825  1981-09-02  16.65
10826  1981-09-01  17.01

[10827 rows x 2 columns]

In [33]:
advantage_endpoint.econ_download(
    function='NONFARM_PAYROLL',
    interval='monthly'
)

       timestamp   value
0     2023-01-01  152844
1     2022-12-01  155349
2     2022-11-01  155642
3     2022-10-01  155041
4     2022-09-01  153809
...          ...     ...
1004  1939-05-01   30145
1005  1939-04-01   29786
1006  1939-03-01   29804
1007  1939-02-01   29394
1008  1939-01-01   29296

[1009 rows x 2 columns]

In [39]:
advantage_endpoint.econ_download(
    function='CPI',
    interval='monthly'
)

       timestamp    value
0     2023-01-01  299.170
1     2022-12-01  296.797
2     2022-11-01  297.711
3     2022-10-01  298.012
4     2022-09-01  296.808
...          ...      ...
1316  1913-05-01    9.700
1317  1913-04-01    9.800
1318  1913-03-01    9.800
1319  1913-02-01    9.800
1320  1913-01-01    9.800

[1321 rows x 2 columns]

In [32]:
advantage_endpoint.econ_download(
    function='UNEMPLOYMENT',
    interval='monthly'
)

      timestamp  value
0    2023-01-01    3.4
1    2022-12-01    3.5
2    2022-11-01    3.6
3    2022-10-01    3.7
4    2022-09-01    3.5
..          ...    ...
896  1948-05-01    3.5
897  1948-04-01    3.9
898  1948-03-01    4.0
899  1948-02-01    3.8
900  1948-01-01    3.4

[901 rows x 2 columns]

In [35]:
advantage_endpoint.cycle_indicator_download(
    function='ULTOSC',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
)

                  time   ULTOSC
0     2023-03-02 18:17  61.9441
1     2023-03-02 17:50  52.3338
2     2023-03-02 16:03  63.8415
3     2023-03-02 16:02  67.1774
4     2023-03-02 16:01  65.3306
...                ...      ...
3643  2023-02-17 09:48  60.7433
3644  2023-02-17 09:47  60.7039
3645  2023-02-17 09:46  59.8069
3646  2023-02-17 09:45  65.1879
3647  2023-02-17 09:44  63.2268

[3648 rows x 2 columns]

In [37]:
advantage_endpoint.cycle_indicator_download(
    function='ULTOSC',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
)

                  time   ULTOSC
0     2023-03-02 18:17  61.9441
1     2023-03-02 17:50  52.3338
2     2023-03-02 16:03  63.8415
3     2023-03-02 16:02  67.1774
4     2023-03-02 16:01  65.3306
...                ...      ...
3643  2023-02-17 09:48  60.7433
3644  2023-02-17 09:47  60.7039
3645  2023-02-17 09:46  59.8069
3646  2023-02-17 09:45  65.1879
3647  2023-02-17 09:44  63.2268

[3648 rows x 2 columns]

In [41]:
advantage_endpoint.market_news_sentiment_download('IBM', sort='Latest', limit=50)[0]

,index,title,url,time_published,authors,summary,banner_image,source,category_within_source,source_domain,overall_sentiment_score,overall_sentiment_label,items,sentiment_score_definition,relevance_score_definition,topic,topic_relevance_score
0,0,IBM: PATH vs. IBM: Which AI-Related Stock Is a...,https://stocknews.com/news/ibm-path-msft-path-...,20230303T154805,[],"In this piece, I evaluated two AI-related stoc...",https://stocknews.com/wp-content/uploads/2021/...,Stocknews.com,n/a,stocknews.com,0.254262,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Earnings,0.999998
1,0,IBM: PATH vs. IBM: Which AI-Related Stock Is a...,https://stocknews.com/news/ibm-path-msft-path-...,20230303T154805,[],"In this piece, I evaluated two AI-related stoc...",https://stocknews.com/wp-content/uploads/2021/...,Stocknews.com,n/a,stocknews.com,0.254262,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Technology,1.0
2,0,IBM: PATH vs. IBM: Which AI-Related Stock Is a...,https://stocknews.com/news/ibm-path-msft-path-...,20230303T154805,[],"In this piece, I evaluated two AI-related stoc...",https://stocknews.com/wp-content/uploads/2021/...,Stocknews.com,n/a,stocknews.com,0.254262,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Financial Markets,0.977154
3,1,Multi vendor support services market size to i...,https://www.prnewswire.com/news-releases/multi...,20230303T144500,[Technavio],Multi vendor support services market size to i...,https://mma.prnewswire.com/media/2014593/Techn...,PR Newswire,n/a,www.prnewswire.com,0.226569,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Economy - Monetary,0.158519
4,1,Multi vendor support services market size to i...,https://www.prnewswire.com/news-releases/multi...,20230303T144500,[Technavio],Multi vendor support services market size to i...,https://mma.prnewswire.com/media/2014593/Techn...,PR Newswire,n/a,www.prnewswire.com,0.226569,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Technology,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,49,AI Mania: 3 Rare Pure Plays to Monitor,https://www.zacks.com/commentary/2050278/ai-ma...,20230206T140200,[Zacks Investment Research],AI has been the talk of Wall Street in recent ...,https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,0.193341,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",IPO,0.158519
210,49,AI Mania: 3 Rare Pure Plays to Monitor,https://www.zacks.com/commentary/2050278/ai-ma...,20230206T140200,[Zacks Investment Research],AI has been the talk of Wall Street in recent ...,https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,0.193341,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Retail & Wholesale,0.25
211,49,AI Mania: 3 Rare Pure Plays to Monitor,https://www.zacks.com/commentary/2050278/ai-ma...,20230206T140200,[Zacks Investment Research],AI has been the talk of Wall Street in recent ...,https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,0.193341,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Financial Markets,0.459462
212,49,AI Mania: 3 Rare Pure Plays to Monitor,https://www.zacks.com/commentary/2050278/ai-ma...,20230206T140200,[Zacks Investment Research],AI has been the talk of Wall Street in recent ...,https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,0.193341,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Manufacturing,0.25
213,49,AI Mania: 3 Rare Pure Plays to Monitor,https://www.zacks.com/commentary/2050278/ai-ma...,20230206T140200,[Zacks Investment Research],AI has been the talk of Wall Street in recent ...,https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,0.193341,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",Earnings,0.961735

In [42]:
advantage_endpoint.market_news_sentiment_download('IBM', sort='relevance', limit=50)[1]

,index,title,url,time_published,authors,summary,banner_image,source,category_within_source,source_domain,overall_sentiment_score,overall_sentiment_label,items,sentiment_score_definition,relevance_score_definition,ticker,ticker_relevance_score,ticker_sentiment_score,ticker_sentiment_label
0,0,IBM posts biggest annual sales increase in mor...,https://www.marketwatch.com/story/ibm-posts-bi...,20230125T215200,"[, Levi Sumagaysay, Jeremy C. Owens]",International Business Machines Corp. increase...,https://images.mktw.net/im-639870/social,MarketWatch,Top Stories,www.marketwatch.com,0.093375,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",IBM,0.983605,0.167656,Somewhat-Bullish
1,1,Tiger Global-Backed Quantum Computing Startup ...,https://www.benzinga.com/news/22/11/29742968/t...,20221116T102148,[Anusuya Lahiri],"Algorithmiq, a Helsinki-based quantum computin...",https://cdn.benzinga.com/files/images/story/20...,Benzinga,News,www.benzinga.com,0.186770,Somewhat-Bullish,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",IBM,0.980738,0.372322,Bullish
2,2,IBM Introduces 433 Qubit 'Osprey' Processor At...,https://www.benzinga.com/news/22/11/29652548/i...,20221110T103927,[Anusuya Lahiri],International Business Machines Corp IBM kicke...,https://cdn.benzinga.com/files/images/story/20...,Benzinga,News,www.benzinga.com,0.068142,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",APG,0.113597,-0.11637,Neutral
3,2,IBM Introduces 433 Qubit 'Osprey' Processor At...,https://www.benzinga.com/news/22/11/29652548/i...,20221110T103927,[Anusuya Lahiri],International Business Machines Corp IBM kicke...,https://cdn.benzinga.com/files/images/story/20...,Benzinga,News,www.benzinga.com,0.068142,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",VOD,0.224903,0.0,Neutral
4,2,IBM Introduces 433 Qubit 'Osprey' Processor At...,https://www.benzinga.com/news/22/11/29652548/i...,20221110T103927,[Anusuya Lahiri],International Business Machines Corp IBM kicke...,https://cdn.benzinga.com/files/images/story/20...,Benzinga,News,www.benzinga.com,0.068142,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",IBM,0.977729,0.068482,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,49,Global 2000 List 2022: The Top 200,https://www.forbes.com/sites/forbesstaff/2022/...,20220512T101500,[Isabel Contreras],"War, pandemic and sluggish markets hit the wor...",https://imageio.forbes.com/specials-images/ima...,Forbes,Business,www.forbes.com,0.010745,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",PEP,0.009638,0.005483,Neutral
406,49,Global 2000 List 2022: The Top 200,https://www.forbes.com/sites/forbesstaff/2022/...,20220512T101500,[Isabel Contreras],"War, pandemic and sluggish markets hit the wor...",https://imageio.forbes.com/specials-images/ima...,Forbes,Business,www.forbes.com,0.010745,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",CCZ,0.009638,0.012229,Neutral
407,49,Global 2000 List 2022: The Top 200,https://www.forbes.com/sites/forbesstaff/2022/...,20220512T101500,[Isabel Contreras],"War, pandemic and sluggish markets hit the wor...",https://imageio.forbes.com/specials-images/ima...,Forbes,Business,www.forbes.com,0.010745,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",IDCBY,0.009638,0.000569,Neutral
408,49,Global 2000 List 2022: The Top 200,https://www.forbes.com/sites/forbesstaff/2022/...,20220512T101500,[Isabel Contreras],"War, pandemic and sluggish markets hit the wor...",https://imageio.forbes.com/specials-images/ima...,Forbes,Business,www.forbes.com,0.010745,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",HD,0.009638,0.155958,Somewhat-Bullish
409,49,Global 2000 List 2022: The Top 200,https://www.forbes.com/sites/forbesstaff/2022/...,20220512T101500,[Isabel Contreras],"War, pandemic and sluggish markets hit the wor...",https://imageio.forbes.com/specials-images/ima...,Forbes,Business,www.forbes.com,0.010745,Neutral,50,x <= -0.35: Bearish; -0.35 < x <= -0.15: Somew...,"0 < x <= 1, with a higher score indicating hig...",IBDSF,0.009638,0.056413,Neutral

In [ ]:
# import sqlite3


# fp = r'~/newsqlitefile.sqlite'

# import pandas as pd

# a = pd.DataFrame({"a": range(10), "v": range(1, 11)})

# newconn, _ = sqlite3.connect(fp)
# a.to_sql("a", newconn)

# newconn.close()