In [1]:
import os

os.chdir(r'C:\Users\carlo\GitHub\ProjectBuffalo')

In [2]:
import buffalo.ingestion as ingestion

In [3]:
ingestion.configuration.Configuration.print()

{'storage_folder': '../__cached_data', 'api_keys': {<API.ADVANTAGE: 1>: '2rrNROO0beX90lPH7ixQOp0mT_9SwF0d'}, 'watched_tickers': ['IBM', 'MSFT']}

In [4]:
advantage_endpoint = ingestion.advantage.AdvantageStockGrepper()

In [5]:
advantage_endpoint.company_info_download(
    'CASH_FLOW',
    'IBM',
    '3month'
)

,symbol,annualReports,quarterlyReports
0,IBM,"[{'fiscalDateEnding': '2021-12-31', 'reportedC...","[{'fiscalDateEnding': '2022-09-30', 'reportedC..."

In [6]:
advantage_endpoint.stock_download(
    symbol='AAPL',
    interval='daily',
    year_slice=None, ## Intraday 
    adjusted=True
)

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2023-02-27,147.71,149.17,147.4500,147.92,147.920000,44998470,0.0,1.0
1,2023-02-24,147.11,147.19,145.7202,146.71,146.710000,55469606,0.0,1.0
2,2023-02-23,150.09,150.34,147.2400,149.40,149.400000,48394249,0.0,1.0
3,2023-02-22,148.87,149.95,147.1600,148.91,148.910000,51011305,0.0,1.0
4,2023-02-21,150.20,151.30,148.4050,148.48,148.480000,58867230,0.0,1.0
...,...,...,...,...,...,...,...,...,...
5863,1999-11-05,84.62,88.37,84.0000,88.31,0.670165,3721500,0.0,1.0
5864,1999-11-04,82.06,85.37,80.6200,83.62,0.634574,3384700,0.0,1.0
5865,1999-11-03,81.62,83.25,81.0000,81.50,0.618485,2932700,0.0,1.0
5866,1999-11-02,78.00,81.69,77.3100,80.25,0.608999,3564600,0.0,1.0
5867,1999-11-01,80.00,80.69,77.3700,77.62,0.589041,2487300,0.0,1.0

In [7]:
advantage_endpoint.listing_info_download(date='2022-02-24')

,symbol,name,exchange,assetType,ipoDate,delistingDate,status
0,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,NaN,Active
1,AA,Alcoa Corp,NYSE,Stock,2016-10-18,NaN,Active
2,AAA,AXS FIRST PRIORITY CLO BOND ETF,NYSE ARCA,ETF,2020-09-09,NaN,Active
3,AAAU,Goldman Sachs Physical Gold ETF,BATS,ETF,2018-08-15,NaN,Active
4,AAC,Ares Acquisition Corporation - Class A,NYSE,Stock,2021-03-25,NaN,Active
...,...,...,...,...,...,...,...
12046,ZYNE,Zynerba Pharmaceuticals Inc,NASDAQ,Stock,2015-08-05,NaN,Active
12047,ZYRX,Global Earnings Capital Ltd,NASDAQ,Stock,2007-07-13,NaN,Active
12048,ZYXI,Zynex Inc,NASDAQ,Stock,2012-07-23,NaN,Active
12049,ZZK,NaN,NYSE ARCA,Stock,2020-07-22,NaN,Active
12050,ZZZ,TEST TICKER FOR UTP,NYSE ARCA,Stock,2014-10-31,NaN,Active

In [8]:
advantage_endpoint.trend_indicator_download(
    function='SMA',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
)

                  time       SMA
0     2023-02-27 18:13  130.5655
1     2023-02-27 18:10  130.5480
2     2023-02-27 17:55  130.5300
3     2023-02-27 17:54  130.5105
4     2023-02-27 17:53  130.4958
...                ...       ...
3666  2023-02-14 09:31  137.6433
3667  2023-02-14 09:30  137.7128
3668  2023-02-14 09:07  137.7368
3669  2023-02-14 09:00  137.7330
3670  2023-02-14 08:57  137.7570

[3671 rows x 2 columns]

In [9]:
advantage_endpoint.trend_indicator_download(
    function='T3',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
)

                  time        T3
0     2023-02-27 18:13  130.5553
1     2023-02-27 18:10  130.5367
2     2023-02-27 17:55  130.5190
3     2023-02-27 17:54  130.5033
4     2023-02-27 17:53  130.4905
...                ...       ...
3621  2023-02-14 10:16  136.9675
3622  2023-02-14 10:15  136.9402
3623  2023-02-14 10:14  136.9172
3624  2023-02-14 10:13  136.8985
3625  2023-02-14 10:12  136.8843

[3626 rows x 2 columns]

In [18]:
advantage_endpoint.cycle_indicator_download(
    function='ULTOSC',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
).loc[0].values

array(['    "Note": "Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency."'],
      dtype=object)

In [ ]:
advantage_endpoint.cycle_indicator_download(
    function='ULTOSC',
    symbol='IBM',
    interval='1min',
    time_period=10,
    series_type='close'
).loc[0].values

In [11]:
advantage_endpoint.market_news_sentiment_download('IBM', sort='Latest', limit=50)[0]

KeyError: "Key 'feed' not found. If specifying a record_path, all elements of data should have the path."

In [ ]:
advantage_endpoint.market_news_sentiment_download('IBM', sort='relevance', limit=50)[1]

In [ ]:
import sqlite3


fp = r'~/newsqlitefile.sqlite'

import pandas as pd

a = pd.DataFrame({"a": range(10), "v": range(1, 11)})

newconn, _ = sqlite3.connect(fp)
a.to_sql("a", newconn)

newconn.close()